@model Headhunter.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1 id="title">Личный кабинет</h1>
@if (User.Identity.Name == Model.UserName)
{
    <button id="edit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">Edit</button>
}

<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div id="edit-body" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать профиль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Edit" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Avatar" class="control-label"></label>
                        <input asp-for="Avatar" class="form-control" />
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <input asp-for="Role" class="form-control" />
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Изменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Avatar" alt="..." style="width: 18rem; height: 300px;"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
@if (User.Identity.Name == Model.UserName)
{
    @if (Model.Role == "Наниматель")
    {
        <a id="add" asp-action="Create" asp-controller="Vacancy" asp-route-userId="@Model.Id">Создать вакансию</a>
    }
    else
    {
        <a id="add" asp-action="Create" asp-controller="Resume" asp-route-userId="@Model.Id">Создать резюме</a>
    }
}
<div id="resumes" class="row">

</div>

<script 
    src="https://code.jquery.com/jquery-3.7.1.js" 
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" 
    crossorigin="anonymous">
</script>

<script>
    function loadResumes() {
        $.ajax({
            url: '@Url.Action("Index", "Resume")',
            type: 'GET',
            data: {'userId': @Model.Id},
            success: function (data) {
                $('#resumes').html(data);
                console.log('resumes uploaded');
            },
            error: function () {
                console.log('error');
            }
        });
    }
    function loadVacancies() {
        $.ajax({
            url: '@Url.Action("Index", "Vacancy")',
            type: 'GET',
            data: { 'userId': @Model.Id},
            success: function (data) {
                $('#resumes').html(data);
                console.log('vacancies uploaded');
            },
            error: function () {
                console.log('error');
            }
        });
    }
    // Наниматель с юникода
    if ('@Model.Role' == '&#x41D;&#x430;&#x43D;&#x438;&#x43C;&#x430;&#x442;&#x435;&#x43B;&#x44C;') {
        loadVacancies();

        setInterval(loadVacancies, 1000);
    }
    else{
        loadResumes();

        setInterval(loadResumes, 1000);
    }
</script>