@model List<Vacancy>

@if (Model.Count == 0)
{
    <p>Вы еще не добавили свои вакансии</p>
}
else
{
    @foreach (var r in Model)
    {
        <div class="card col-3 me-3 ms-3" style="width: 18rem;">
            <div class="card-body">
                <a asp-action="Details" asp-route-id="@r.Id">
                    <h5 class="card-title">Название: @r.Name</h5>
                </a>
                <p class="card-text">Дата обновления: @r.Updated.ToLongDateString()</p>
            </div>
            <div class="card-body">
                <a asp-action="Update" asp-route-id="@r.Id" class="card-link">Обновить</a>
                <a asp-action="Edit" asp-route-id="@r.Id" class="card-link">Редактировать</a>
            </div>
        </div>
    }
}