@model Headhunter.Models.Vacancy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Зарплата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            Требования
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Опыт работа
        </dt>
        <dd class = "col-sm-10">
            От @Model.ExpFrom до @Model.ExpTo
        </dd>
        <dt class = "col-sm-2">
            Категория
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            Дата публикации
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Дата обновления
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        @if (Model.User.UserName == User.Identity.Name)
        {          
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsPublished)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsPublished)
            </dd>
        }
        <dt class = "col-sm-2">
            Компания
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
    </dl>
</div>
@if (Model.User.UserName == User.Identity.Name)
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    </div>
}
else
{
    <div>
        <a>Откликнуться</a>
    </div>
}
